configuration {
  show-icons:	false;
  modi: "window,drun,run";
  font: "Sarasa Gothic SC 12";
  dpi: 128;
  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
}

@theme "nord"
