configuration {
    show-icons:		true;
    display-drun:		"";
    icon-theme:			"Numix";
    /*drun-display-format:	" {name}";*/
    location:			1;
}

@import "nord"

window {
    transparency:		"real";
    background-color:		@background;
    text-color:			@foreground;
    border-radius:		10px;
    width:			600px;
    x-offset:			10px;
    y-offset:			51px;
}
