/*
 * ROFI theme - 自定义主题
 * 布局定义，颜色通过 color.rasi 导入
 */

@import "colors"

window {
  location: center;
  anchor:   center;
  border-radius: 10px;
  width: 1024px;

  transparency: "real";
  background-color: transparent;
  spacing: 0;
  children:  [mainbox];
  orientation: horizontal;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  color: @foreground;
  background-color: @lighter-background;

  border: 0px;
  border-radius:  10px 10px 0px 0px;
  border-color: @blue;

  children: [prompt, entry];
}

entry, prompt, case-indicator {
  text-font: inherit;
  text-color:inherit;
}

entry {
  background-color: inherit;
  padding: 16px 6px;
}

prompt {
  background-color: inherit;
  padding: 16px;
}

listview {
  lines: 8;
  padding: 8px;
}

element {
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  text-color: @foreground;
}

element-icon {
  background-color: inherit;
  text-color:       inherit;
  padding: 10px;
}

element-text {
  background-color: inherit;
  text-color:       inherit;
  padding: 8px 8px;
}

element selected {
  text-color: @background;
  background-color: @accent;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
