* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

configuration {
  hover-select: true;
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
  location:	3;
}

window {
  transparency:		"real";
  background-color:		@background;
  text-color:			@foreground;
  border-radius:		11px;
  width:			371px;
  x-offset:			-10px;
  y-offset:			46px;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  position: center;
  padding: 4px;
  expand: false;
  border: 4px;
  border-color: @lighter-background;
  border-radius: 11px;
  margin: 25px 20px 0 20px;
  color: @dark-foreground;
  background-color: @dark-background;

  children: [textbox-prompt-colon, prompt];
}

textbox-prompt-colon {
  expand: false;
  str: " ";
  background-color: inherit;
  text-color: @red;
  margin: 0 8px 0 8px;
}

prompt {
  location: center;
  expand: false;
  text-font: inherit;
  text-color: @dark-foreground;
  background-color: inherit;
  padding: 0 4px;
  margin-right: 6px;
}

listview {
  background-color:               @background;
  margin:                         25px 20px;
  cycle:                          true;
  dynamic:                        true;
  layout:                         horizontal;
}

element {
  padding:	17px 20px 23px 20px;
  border-radius:                  100%;
  border: 1px;
  border-color: @lighter-background;
  background-color:               rgba(30,30,46,0);
  text-color: @foreground;
  orientation:                    horizontal;
  margin: 0 15px;
}

element-text {
  font: "Maple Mono SC NF 19";
  background-color: inherit;
  text-color:       inherit;
  height:	38px;
  width:	38px;
  horizontal-align: 0.35;
}

element selected {
  text-color: @background;
  background-color: @accent;
  border-radius: 100%;
}

@import "colors"
